@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand\ SemiBold.ttf);
    font-weight: 600;
}